<ul class="nav nav-pills">
  <li class="nav-item active">
    <a class="nav-link"
     [routerLinkActive]="'active'"
     routerLink="/characters">Star wars</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link"
    [routerLinkActive]="'active'"
    routerLink="/new-character">New caracter</a>
  </li>
</ul>
