<form (ngSubmit)="onSubmit(form)" #form="ngForm">
<div class="form-group">
  <label for="name">Character name</label>
  <input type="text"
  required id="name"
  name="name"
  class="form-control"
  ngModel
  #nameCtrl="ngModel">
  <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name</span>
</div>
  <div class="form-group">
    <label for="side">Chose side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let option of availableSide"
      [value]="option.value" >
          {{option.display}}</option>
        </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">add Character</button>
</form>
