<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/characters/all" class="nav-link">All</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/characters/light" class="nav-link" >Light</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/characters/dark" class="nav-link">Dark</a>
    </li>

  </ul>
 <router-outlet></router-outlet>
</div>


<!--<div>
  <ul class="nav nav-tabs">
    <li class="nav-item"
     [ngClass] = "{'active': chosenList==='all'}">
      <a class="nav-link"

      (click)="onChoose('all')">All</a>
    </li>
    <li class="nav-item"
    [ngClass] = "{'active': chosenList==='light'}">
      <a class="nav-link"
      (click)="onChoose('light')"
      href="#">Light</a>
    </li>
    <li class="nav-item"
    [ngClass] = "{'active': chosenList==='dark'}">
      <a class="nav-link"
      (click)="onChoose('dark')"
      href="#">Dark</a>
    </li>

  </ul>
  <<app-list [characters]="getCharacters()"
 ></app-list>
 <router-outlet></router-outlet>
</div>-->
