<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <app-header></app-header>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <!--<app-tabs></app-tabs>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

